<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>OrderCraft</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProduitControleurServlet</servlet-name>
		<servlet-class>servlet.ProduitControleurServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ProduitControleurServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClientControleurServlet</servlet-name>
		<servlet-class>servlet.ClientControleurServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ClientControleurServlet</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
</web-app>
